---
layout: berth-reservation
subject: Winter storage application confirmation
created_at: 12.5.2019 15.15
lang: en

---
{{!-- raw --}}

<wrapper class="header">
  <container>
    <spacer size="48"></spacer>
    <row class="collapse">
      <columns small="4">
        <img src="https://makasiini.hel.ninja/helsinki-logos/helsinki-logo-white.png" width="100" class="hel-logo">
      </columns>
      <columns small="7">
        <h5 class="text-right text-white">Boat berths</h5>
      </columns>
    </row>
  </container>
  <spacer size="12"></spacer>
</wrapper>

<container>

  <spacer size="24"></spacer>

  <row>
    <columns small="12">

      <h4>Hello, {{ reservation.first_name }}!</h4>

      <p>  Thank you, your application has been sent successfully!</p>

      <p>You will be contacted via text message when a suitable winter storage space becomes available.</p>

      <p>If you wish to change or cancel your application or ask any questions regarding your application, please e-mail <span class="no-hyphens">venepaikkavaraukset@hel.fi</span>.</p>

        <callout>
        <spacer size="12"></spacer>
          <b>Time</b>
          {{ created_at }}<br/>
          <b>Applicant</b>
          {{ reservation.first_name }} {{ reservation.last_name }}<br/>
          {{!--{% if reservation.company_name %}--}}
          <b>Company</b>
          {{ reservation.company_name }} ({{ reservation.business_id }})<br/>
          {{!--{% endif %}--}}
        <spacer size="24"></spacer>
        <table class="hr"><tbody><th></th></tbody></table>
        <spacer size="12"></spacer>
        <h5>Chosen areas</h5>
        <table>
          <tbody>
            {{!--{% for choice in area_choices %}--}}
              <tr>
              <td width="32px"><b>{{ choice.priority }}</b></td>
              <td>{{ choice.winter_storage_area.name }}</td>
              </tr>
            {{!--{% endfor %}--}}
          </tbody>
        </table>
        {{!--{% if reservation.application_code %}--}}
          <p><b>Application code:</b> {{reservation.application_code}}</p>
        {{!--{% endif %}--}}
        <spacer size="24"></spacer>
        <table class="hr"><tbody><th></th></tbody></table>
        <spacer size="12"></spacer>
        <h5>Boat information</h5>
            {{!--{% if reservation.boat_registration_number %}--}}
            <row class="collapse">
              <columns large="4"><b>Registration number</b></columns>
              <columns large="8">{{ reservation.boat_registration_number }}</columns>
            </row>
            {{!--{% endif %}--}}
            {{!--{% if reservation.boat_name %}--}}
            <row class="collapse">
              <columns large="2"><b>Name</b></columns>
              <columns large="4">{{ reservation.boat_name }}</columns>
              <columns large="2"><b>Model</b></columns>
              <columns large="4">{{ reservation.boat_model }}</columns>
            </row>
            {{!--{% endif %}--}}
            <row class="collapse">
              <columns large="2" small="6"><b>Length</b></columns>
              <columns large="4" small="6">{{ reservation.boat_length }} m</columns>
              <columns large="2" small="6"><b>Width</b></columns>
              <columns large="4" small="6">{{ reservation.boat_width }} m</columns>
            </row>
            <spacer size="24"></spacer>
            <table class="hr"><tbody><th></th></tbody></table>
            <spacer size="12"></spacer>
            <h5>Storage information</h5>
            {{ reservation.storage_method }}
            {{!--{% if reservation.trailer_registration_number %}--}}
            <row class="collapse">
              <columns large="4"><b>Trailer's registration</b></columns>
              <columns large="8">{{ reservation.trailer_registration_number }}</columns>
            </row>
            {{!--{% endif %}--}}
      </callout>
      <p>Kind regards,<br/>
      Helsingin kaupungin venepaikkavaraukset (Berth reservations of the City of Helsinki)
  </p>
    </columns>
  </row>

</container>

<spacer size="24"></spacer>

<container>
  <wrapper class="text-hel-copper">
    <spacer size="24"></spacer>
    <row>
      <columns>
        <p><strong>Boat berths</strong><br>
        <a href="https://venepaikat.hel.fi">venepaikat.hel.fi</a></p>
        <p>Advice over the telephone is available 9–14 Monday–Friday by calling 09 310 87900.
Service hours 9–16 Monday–Friday at Töölö Sports Hall at Paavo Nurmen kuja 1 E.</p>
      </columns>
    </row>
  </wrapper>
</container>
<container>
  <wrapper class="secondary">

    <spacer size="24"></spacer>

    <row>
      <columns>
        <p><strong>City of Helsinki</strong><br>
        Culture and leisure</p>
        <a class="text-hel-coat" href="https://hel.fi">hel.fi</a> | <a class="text-hel-coat" href="https://www.hel.fi/helsinki/en/culture/recreation/boating/">Boating</a>
      </columns>
    </row>
  </wrapper>
</container>

<spacer size="120"></spacer>
{{!-- /raw --}}
